
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:ital,wght@0,200;1,300&family=Poppins:wght@500&display=swap');
@import './components/styles/commonClasses.css';
@import './components/styles/variable.css';

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
